*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-y:auto;
}
header{
    background: #999aaa;
    width: 100%;
    height: 60px;
}
header a{
    float: left;
}
header h1{
    font-size: 1.5em;
    float: left;
    color: #666a6e;
    line-height: 52px;
}
.responsive{
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}
.responsive a{
    color: #fff;
    padding-right: 20px;
}
.responsive a:hover{
    color: #666a6e;
}
.current{
    color: #666a6e !important;
}
.back{
    float: right;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
    padding-bottom: 13px;
}
#iframe-wrap {
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: 50;
}
#iframe{
    border: none;
}
.tablet-width {
    height: 961px!important;
    margin: 20px auto;
    padding: 96px 50px 115px 49px;
    width: 786px;
    background: url(../img/bgipad.png) no-repeat 0 0;
}
.tablet-width iframe {
    height: 960px!important;
}

.mobile-width {
    height: 735px!important;
    margin: 20px auto;
    padding: 102px 25px 87px 25px;
    width: 410px;
    background: url(../img/bgiphone.png) no-repeat;
}

.mobile-width iframe {
    height: 735px!important;
}